<!DOCTYPE html>
<html lang="en">
<head>
  <title>Weather Material</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">
  <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
  <link rel="stylesheet" href="assets/app.css"/>

  <style type="text/css">
    /** Hide when Angular is not yet loaded and initialized */
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak] {
      display: none !important;
    }
  </style>

</head>

<body ng-app="starterApp" layout="row" ng-controller="AreaController as ul" ng-cloak>

<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')">

  <md-toolbar class="md-whiteframe-z1">
    <h1>Cities</h1>
  </md-toolbar>

  <md-list>
    <md-list-item ng-repeat="it in ul.area">
      <md-button ng-click="ul.selectArea(it)" ng-class="{'selected' : it === ul.selected }">
        <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
        {{it.name}}
      </md-button>
    </md-list-item>
  </md-list>

</md-sidenav>


<div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

  <md-toolbar layout="row" class="md-whiteframe-z1">
    <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show Locations">
      <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
    <h1>Local Weather</h1>
  </md-toolbar>

  <md-content flex id="content"
              style="background-image: url('{{ul.selected.weatherImage}}')">
    <!-- dynamic background works, but throws warning to js console -->
    <md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon>
    <h2 class="content-title">{{ul.selected.name}}</h2>
    <table class="content">
      <!-- We can suppress empty values with ng-if, but I like the way this looks -->
      <tr>
        <td>Taken</td>
        <td colspan="3"><b>{{ul.selected.measureTime}}</b></td>
      </tr>
      <tr>
        <td>Temp</td>
        <td><b>{{ul.selected.temperature}}</b>&deg; F</td>
        <td>Wind</td>
        <td><b>{{ul.selected.wind}}</b> Mph</td>
      </tr>
      <tr>
        <td>High</td>
        <td><b>{{ul.selected.high}}</b>&deg; F</td>
        <td>Low</td>
        <td><b>{{ul.selected.low}}</b>&deg; F</td>
      </tr>
      <tr>
        <td>Humidity</td>
        <td><b>{{ul.selected.humidity}}</b>%</td>
      </tr>
    </table>
    <p class="content">{{ul.selected.report}}</p>
  </md-content>

</div>

<script src="./bower_components/angular/angular.js"></script>
<script src="./bower_components/angular-animate/angular-animate.js"></script>
<script src="./bower_components/angular-aria/angular-aria.js"></script>
<script src="./bower_components/angular-material/angular-material.js"></script>

<script src="src/area/Area.js"></script>
<script src="src/area/AreaController.js"></script>
<script src="src/area/AreaService.js"></script>

<script type="text/javascript">

  angular
    .module("starterApp", ["area", "ngMaterial"])
    .config(function ($mdThemingProvider, $mdIconProvider) {

      $mdIconProvider
        .defaultIconSet("./assets/svg/locations.svg", 128)
        .icon("menu", "./assets/svg/menu.svg", 24);

      //noinspection JSUnresolvedFunction
      $mdThemingProvider.theme("default")
        .dark()
        .primaryPalette("blue")
        .accentPalette("red");
    });

</script>

</body>
</html>
